body{
    background-color: #F6EFE7;
}

#bigWord 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #E09789;
    /* I cant decide if i want top margin or not cant tell what looks better */
}

#textEntrance,
#listEntrance {
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 30px;
    min-width: 250px;
    color: #5C4033;
}

#mainContainer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    color: #E09789;
}

.columnWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 300px;
}

#containerActive{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#containerCompleted{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*? Had to look these two up wasnt sure how to make a button look like text thankfully Stack Overflow does */
.textButtonActive {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 5px;
  color: #5C4033;
}

.textButtonActive:hover {
    background-color: #f7d1be;
}

.textButtonCompleted {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 5px;
  color: #8B5E4A;
  text-decoration: line-through;
  opacity: 0.8;
}

.textButtonCompleted:hover {
    background-color: #d97c55;
}

